.wrapper {
  position: relative;
  padding-top: 80px;
  padding-bottom: 10px;
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 44px;
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family: Greycliff CF, var(--mantine-font-family);
}

.description {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
  font-size: 18px;
}

.search {
  max-width: 600px;
  margin: var(--mantine-spacing-xl) auto 0;
}

.controls {
  margin-top: var(--mantine-spacing-xl);
}

.control {
  min-width: 150px;
}

.tabs {
  max-width: 160px;
  margin: 0 auto var(--mantine-spacing-xl);
}

.footer {
  text-align: center;
  margin-top: var(--mantine-spacing-xl);
}

@media (max-width: 755px) {
  .wrapper {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  /* Ensure dots are visible on mobile */
  .dots {
    display: block;
  }

  /* Center text for mobile */
  .title {
    font-size: 28px;
    text-align: center;
  }

  .description {
    text-align: center;
    font-size: 16px;
  }
}
